body, html {
    height: 100%;
}

.bg {
    /* Image used */
    background-image: url("../images/circles-light.png");

    /* Makes the image the page's full height */
    /* height: 100%; */
    height: auto;

    /* Centers and scales the image properly */
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
}

.sidebar {
    height: 30px;
    width: 100px;
    border-bottom: 1px solid #777777;
}

.space {
    margin-bottom: 30px;
}

.pic-holder {
    float: left;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin-right: 20px;
}

.white_bg {
    background-color: white;
}

.social-link {
    height: 50px;
    width: 50px;
}

.text-holder {
    width: 100px;
    height: 25px;
    border: 1px solid black;
    float: left;
}

.img-size {
    display: block;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}

.clearfix {
    overflow: auto;
}